<h1>New Student</h1>
<% if flash[:errors] %>
  	<% flash[:errors].each do |error| %>
  		<p><%= error %></p>
    <% end %>
<% end %>
<form action="/dojos/<%= @dojo.id %>/students" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label for="first_name">First Name</label>
  <input type="text" name="first_name"></input><br> 
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name"></input><br>
  <label for="email">Email</label>
  <input type="text" name="email"></input><br>
  <!--<label for="dojo">Dojo Location</label>-->
  <!--<select name="dojo">
      <% @dojos.each do |dojo| %>
            <option><%= dojo.branch %></option>
      <% end %>      
  </select><br><br>-->
  <button type="submit">Create</button>
</form><br>
<a href="/">Home</a>