<h1>New Dojo</h1>
<% if flash[:error] %>
  	<div id="error">
  		<p><%= flash[:error] %></p>
	</div>
<% end %>
<form action="/dojos/create" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label for="branch">Branch</label>
  <input type="text" name="branch"></input><br> 
  <label for="street">Street</label>
  <input type="text" name="street"></input><br>
  <label for="city">City</label>
  <input type="text" name="city"></input><br>
  <label for="state">State</label>
  <input type="text" name="state"></input><br>
  <button type="submit">Create</button>
</form>
<a href="/">Go Back</a>